{% extends 'base.html' %}
{% block content %}

<div class="row">
    <div class="col s12">
        <div class="card-panel blue darken-2 white-text center-align">
            <h4><i class="material-icons left">assignment</i>All My Care Activities</h4>
            <p>Complete history of all plant care activities</p>
        </div>
    </div>
</div>

{% if care_logs %}
<div class="row">
    <div class="col s12">
        <p class="center-align grey-text">
            Total activities: {{ care_logs.count }} | 
            <a href="{% url 'plants_index' %}" class="blue-text">View plants to add more</a>
        </p>
    </div>
</div>

<div class="row">
    {% for care_log in care_logs %}
    <div class="col s12 m6 l4">
        <div class="card">
            <div class="card-content">
                <span class="card-title">
                    <i class="material-icons left">assignment</i>
                    {{ care_log.get_activity_display }}
                </span>
                <p><strong>Plant:</strong> 
                    <a href="{% url 'plant_detail' care_log.plant.id %}" class="green-text">
                        {{ care_log.plant.name }}
                    </a>
                </p>
                <p><strong>Date:</strong> {{ care_log.date|date:"F d, Y" }}</p>
                {% if care_log.notes %}
                <p><strong>Notes:</strong> {{ care_log.notes }}</p>
                {% endif %}
                <p class="grey-text">
                    <small>Added: {{ care_log.created_at|date:"M d, Y \a\t g:i A" }}</small>
                </p>
                
                <div class="care-activity-badge activity-{{ care_log.activity|lower }}" style="margin-top: 10px;">
                    {{ care_log.get_activity_display }}
                </div>
            </div>
            <div class="card-action">
                <a href="{% url 'care_logs_update' care_log.id %}" class="orange-text">
                    <i class="material-icons tiny">edit</i>Edit
                </a>
                <a href="{% url 'care_logs_delete' care_log.id %}" class="red-text">
                    <i class="material-icons tiny">delete</i>Delete
                </a>
                <a href="{% url 'plant_detail' care_log.plant.id %}" class="green-text">
                    <i class="material-icons tiny">visibility</i>View Plant
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<div class="row">
    <div class="col s12">
        <div class="card-panel center-align">
            <h5><i class="material-icons medium">assignment</i></h5>
            <h5>No care activities yet!</h5>
            <p>Start tracking care activities for your plants.</p>
            <a href="{% url 'plants_index' %}" class="btn-large waves-effect waves-light blue">
                <i class="material-icons left">local_florist</i>View My Plants
            </a>
        </div>
    </div>
</div>
{% endif %}

<div class="row">
    <div class="col s12 center-align">
        <a href="{% url 'plants_index' %}" class="btn waves-effect waves-light grey">
            <i class="material-icons left">arrow_back</i>Back to Plants
        </a>
    </div>
</div>

{% endblock %}